<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/dialog.css" />
</head>
<body class='fullpage'>
<header class="nav">
  <h1 class="nav-title">{{ titlePage }}</h1>
</header>
<div class="regenerate-background">
  <div class="regenerate-dialog">
    <h1 class="regenerate-title">La carte sera perdue</h1>
    <p class="regenerate-explainer">Êtes-vous sûr(e) de vouloir quitter ?<br />Les données ne seront pas sauvegardées.</p>
    <button class="regenerate-abort">Annuler</button>
    <button class="regenerate-confirm">Continuer quand même</button>
  </div>
</div>
<main class="container first row">
  <section class='map col-10 first-col mb-1'>
    <div id="waitingMap">Chargement de la carte</div>
    <canvas id='canvas'></canvas>
  </section>
  <section class="col-2 last-col">
    <form method='GET' action='/settings' class="mb-1" id="regenerate">
      <button type='submit'>Nouvelle carte</button>
    </form>
    <button class='btn' disabled id='downloadBtn'>Télécharger</button>
    <div id='cityContainer'>
      <h5>Liste des Villes</h5>
      <ul id='cityList'>
      </ul>
    </div>
  </section>
</main>
<script type='application/javascript'>
  function download_map(){
    let canvas = document.getElementById('canvas');
    let link = document.createElement('a');
    link.download = "map.png";
    link.href = canvas.toDataURL("image/png");
    link.click();
  }
  document.getElementById('downloadBtn').addEventListener('click',download_map);
</script>
<script src='/scripts/map.js' type='module'></script>
<script src="/scripts/dialog.js" type="module"></script>
</body>
</html>
