<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ title }}</title>
      <link rel="stylesheet" href="/css/normalize.css" />
      <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
      <header class="nav">
        <h1 class="nav-title">L'Atelier du Cartomancien</h1>
      </header>
      <main class="first">
        <section class="container">
          <h2 class="title row mb-2">{{ titlePage }}</h2>
          <form method="post" action="/settings">
            <div class="row center mb-2">
              <label for='map_dim' class="col-4 first-col"> Dimensions </label>
              <label><input type="radio" id="map_dim" name='map_dim' value='2k' checked> 2k </label>
              <label><input type="radio" id="map_dim" name='map_dim' value='4k'> 4k </label>
              <label><input type="radio" id="map_dim" name='map_dim' value='A4'> A4 </label>
              <label><input type="radio" id="map_dim" name='map_dim' value='A3'> A3 </label>
            </div>
            <div class="row center mb-2">
              <label for="orientation" class="col-4 first-col"> Orientation </label>
              <label><input type="radio" id="orientation" name='orientation' value='1' checked> Paysage </label>
              <label><input type="radio" id="orientation" name='orientation' value='2'> Portrait </label>
            </div>
            <div class="row center mb-2">
              <label for="nb_cities" class="col-4 first-col">Nombre de villes</label>
              <input type="number" id="map_width" name="nb_cities" class="col-8 last-col" required value="{{options.nbCities}}" min='0' max='30' />
            </div>
            <div class="row center mb-2">
              <label for="density_es" class="col-4 first-col">Densité terre-mer</label>
              <input id="terre-mer-slider" type="range" name="density_es" min="0" max="100" step="1" value="{{options.densityEs}}" class="slider col-7"/>
              <p id="terre-mer-value" class="col-1 last-col"></p>
            </div>
            <div class="row center mb-2">
              <label for="density_r" class="col-4 first-col">Densité des rivières</label>
              <input id="river-slider" type="range" name="density_r" min="0" max="100" step="1" value="{{options.densityR}}" class="slider col-7"/>
              <p id="river-value" class="col-1 last-col"></p>
            </div>
            <button type="submit" class="mb-2">Générer</button>
          </form>
        </section>
      </main>
    </body>
    <script type='module' src='/scripts/settings.js'></script>
</html>
