.regenerate-background {
    background: rgba(128, 128, 128, 0.75);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.regenerate-dialog {
    background: var(--background-color);
    border-radius: 10px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.regenerate-dialog .regenerate-title {
    margin: 0;
    padding: 20px;
    text-align: center;
}

.regenerate-dialog .regenerate-explainer {
    padding: 0 20px 20px 20px;
    text-align: justify;
}

.regenerate-dialog .regenerate-abort {
    display: inline-block;
}

.regenerate-dialog .regenerate-confirm {
    display: inline-block;
}