@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Source+Sans+3&display=swap');

:root {
    --background-color : #eee3dd;
    --primary-color : #073242;
    --secondary-color : #cdc1bb;
    --font-colotr : #262626;
    --warning-color : #a10d0d;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    color: var(--font-colotr);
    background-color: var(--background-color);
    line-height: 1.5;
    font-size: 24px;
}

.container {
    padding: 0 5vw;
}

.container-left {
    padding-left: 5vw;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.first {
    margin-top: 60px;
}

.mb-1 {
    margin-bottom: 15px;
}

.mb-2 {
    margin-bottom: 30px;
}

.mb-3 {
    margin-bottom: 60px;
}

.start {
    align-items: flex-start;
}
.center {
    align-items: center;
}

.nav {
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--secondary-color);
    padding: 5px 0;

}

.nav-title {
    font-family: 'Parisienne', cursive;
    color: var(--primary-color);
    font-size: 24px;
}

.fullpage {
    height: calc(100vh - 60px);
}

.features {
    margin-bottom: 60px;
    height: 50vh;
}

.team {
    margin-bottom: 60px;
}
.team .row {
    justify-content: center;
}

.col-1 {
    width: 8.33%;
    padding: 0 30px;
}

.col-2 {
    width: 16.66%;
    padding: 0 30px;
}

.col-3 {
    width: 25%;
    padding: 0 30px;
}

.col-4 {
    width: 33.33%;
    padding: 0 30px;
}

.col-6 {
    width: 50%;
    padding: 0 30px;
}

.col-7 {
    width: 58.33%;
    padding: 0 30px;
}

.col-8 {
    width: 66.66%;
    padding: 0 30px;
}

.col-10 {
    width: 83.33%;
    padding: 0 30px;
}

.first-col {
    padding-left: 0;
}

.last-col {
    padding-right: 0;
}

.divider {
    border-bottom: solid var(--secondary-color) 1px;
    margin: 60px 0;
}
/*
@media screen and (max-width: 1200px) {
    body, .nav-title {
        font-size: 16px;
    }

}

@media screen and (max-width: 600px) {
    body, .nav-title {
        font-size: 14px;
    }
}
*/


.title {
    color: var(--primary-color);
    font-size: 36px;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    font: 24px Amiri sans-serif;
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--background-color);
    text-decoration: none;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 4px 5px black;
}

.btn:hover {
    box-shadow: 0px 8px 5px black;
}

.btn:disabled {
    background-color: #cdc1bb;
    box-shadow: 0 0 0 black;
}

button {
    width: 100%;
    display: block;
    font: 24px Amiri sans-serif;
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    border: none;
    box-shadow: 0px 4px 5px black;
}

button:hover {
    box-shadow: 0px 8px 5px black;
}

input[type=number] {
    border-radius: 10px;
    padding: 5px 20px;
    border: none;
    -moz-appearance: textfield;
}

input[type=number]:focus {
    border: solid 1px var(--primary-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slider {
    padding: 0;
    -webkit-appearance: none;
    height: 5px;
    border-radius: 10px;
    outline: none;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--primary-color); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
    border: none;
}

.img {
    height: 100%;
    background-position: center;
    background-size: contain ;
}

.list li {
    list-style-type: georgian;
}

#affiche {
    background-image: url("../images/map.png");
    background-size: cover;
}
#affiche2 {
    background-image: url("../images/map-personalisation.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}
#affiche3 {
    background-image: url("../images/city-naming.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
#affiche4 {
    background-image: url("../images/export-map.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.personne {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photos_profil p {
    text-align: center;
}

.photos_profil img {
    width: calc(80% - 30px);
}

.rounded-corners {
    border-radius: 50%;
}

.map {
    overflow: scroll;
    height: calc(100vh - 90px);
}

footer {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.footer-nav {
    padding: 60px 0;
}

.footer-nav li {
    list-style-type: none;
}

.footer-nav a:link, footer a:visited {
    text-decoration: none;
    color: var(--background-color);
}

.footer-nav a:hover {
    text-decoration: underline var(--background-color);
}

#waitingMap {
    background: var(--background-color);
    border-radius: 10px;
    display: block;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sm-visible {
    display: none;
}

.warn {
    color: var(--warning-color);
    font-style: italic;
}

#cityContainer {
    margin-top: 20px;
}

#cityList {
    max-height: 200px;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px;
}

@media only screen and (max-width: 991px) {
    .col-sm-12 {
        padding: 0;
        width: 100%;
    }

    .img {
        height: 25vh;
        order: -1;
    }

    .sm-none {
        display: none;
    }

    .sm-visible {
        display: block;
    }

    .function {
        order: 1;
    }

    .features {
        height: auto;
    }

    .container-left {
        padding: 0;
        flex-wrap: wrap;
    }

    .row {
        align-items: flex-start;
    }

    .container-left .infos {
        padding: 5vw;
    }

    .container-left .img {
        margin-top: 0;
    }

    .personne {
        width: 100%;
    }

    .footer-nav li {
        width: 100%;
    }
}
